fastapi==0.79.0
orjson==3.7.8
pydantic==1.10.0
uvicorn[standard]==0.18.2
uvloop==0.18.0; sys_platform != "win32" and implementation_name == "cpython"
SQLAlchemy==1.4.41
SQLAlchemy-Utils==0.39.0
asyncpg==0.28.0
alembic==1.13.0
